.grid
{
    position: fixed;
    top: 0;

    width: 100%;
    height: 200%;

    transform: scale(0);
    animation: gridScales 9000ms ease-out infinite;

    opacity: .5;
    border: 2px solid mediumvioletred;
    border-radius: 100px;
    background: linear-gradient(
    mediumvioletred, transparent .6px
    ),
    linear-gradient(
    90deg,
    mediumvioletred, transparent .6px
    );
    background-position: center center;
    background-size: 10px 10px;
}

@keyframes gridScales
{
    0%
    {
        transform: scale(1);
    }
    100%
    {
        transform: scale(2);
    }
}
