
@import 'button.scss';

$btn_width:110px;
$btn_height:$btn_width * 0.3;

html, body, .section {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
}

.camera {
    position: relative;
}

.canvas__invert, .canvas__noise {
    width: 100%;
    position: absolute;
    top: 0;
}

.canvas__anxiety{
    width: 100%;
}

.canvasTime {
    border-radius: 25px;
}

.anxiety{
    filter: saturate(8);
    width: 100%;
    position: absolute;
    top: 0;
}

.controls-left{
    display: flex;
    position: absolute;
    flex-direction: column;
    top:0;
    left:0;
    //width: 25%;
   // background:url('http://www.bradysammons.com/codepen/darkui/noise.png') repeat;
    // border-radius: 25px;
}

.controls-right{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 250px;
    top:10px;
    right:10px;
    border-radius: 5px;
}

.buttons {
    display: grid;
    height:200px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 16px;
    padding: 16px;
    border-radius: 5px;
  //  background:url('http://www.bradysammons.com/codepen/darkui/noise.png') repeat;

}

.photo-collection {
    margin: 20px;
    display:flex;
    flex-direction:row;
    justify-content:center;
    flex-wrap: wrap;
}

.photo-collection img {
    width:100px;
    overflow-x: scroll;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
    background: #01181f;
}

.radar {
  height: 100px;
  margin: 100px auto;
  width: 100px;
  display:none;
}

.circle {
    background-color: black;
    border-radius: 100px;
    height: 200px;
    width: 200px;
    position: fixed;
    top: 50vh;
    left: 50vw;
    margin-top: -100px;
    margin-left: -100px;
    transform: scale(0);
    animation: opacityScale 1700ms ease-out infinite;
    background: linear-gradient(45deg,rgba(0, 0, 0, 0) 48%,rgba(0, 0, 0, 0.2) 50%,rgba(0, 0, 0, 0) 52%),linear-gradient(-45deg,rgba(0, 0, 0, 0) 48%,rgba(0, 0, 0, 0.2) 50%,rgba(0, 0, 0, 0) 52%);
    background-size: 1em 1em;
    background-color: red;
}

@keyframes opacityScale {
    0% {
      opacity: 0.3;
      transform: scale(0.1);
    }
    100% {
      opacity: 0;
      transform: scale(2);
    }
}

.second {
    animation-delay: 1000ms;
}

.grid {
    border-radius: 100px;
    height: 200%;
    width: 100%;
    position: fixed;
    top:0;
    transform: scale(0);
    animation: gridScales 9000ms ease-out infinite;
    opacity: 0.5;
    background:linear-gradient(
    mediumvioletred, transparent 0.6px
    ),
    linear-gradient(
    90deg,
    mediumvioletred, transparent 0.6px
    );
    background-size: 10px 10px;
    background-position: center center;
    border: 2px solid mediumvioletred;
}

@keyframes gridScales {
    0% {
    transform: scale(1);
    }
    100% {
    transform: scale(2);
    }
}

svg{
    background-color: black;
    width: 70px;
    height: 70px;
    position: absolute;
    top: 230px;
    left: 90px;
}

path {
    stroke: #28d1fa;
    fill: none;
    stroke-width: 1;
}

.path1 {
    stroke-dasharray: 170, 180;
    animation: pulse 2s infinite linear;
}

.path2 {
    stroke-dasharray: 170, 180;
    animation: pulse2 2s infinite linear;
}

@keyframes pulse {
    0% {
        stroke-dashoffset: 350;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes pulse2 {
    0% {
        stroke-dashoffset: 525;
    }
    100% {
        stroke-dashoffset: 175;
    }
}

body{
	// margin: 0;
	// padding:0;
	// background:url('http://www.bradysammons.com/codepen/darkui/noise.png') repeat;
	// padding:30px;
}
a, input[type='radio'] + label{
		text-align: center;
		display: inline-block;
		text-decoration: none;
		cursor: pointer;
		font-family: 'Trebuchet MS', Helvetica, sans-serif;
	}

	h2{
		font-family: 'Lobster', cursive;
		font-weight: normal;
		text-shadow:0 1px 0 rgba(255,255,255,.12);
		display: inline-block;
		margin: 0;
		line-height: 1.5;
		position: absolute;
		top: -20px;
		//background:url('http://www.bradysammons.com/codepen/darkui/noise.png') repeat;
		padding: 0 5px 0 10px;
	}
input[type='radio']{
	display: none;
}

/* -------------------
	Default State
-------------------- */
.button, label{
	z-index: 10;
	margin: 0 10px 10px 0;
	width: $btn_width * 1.05;
	height: $btn_height * 1.13;
	line-height: $btn_height * 1.1;
	position: relative;
	font-size: $btn_width * .12;
	letter-spacing: .1em;
	color: #0e0e0e;
	text-shadow: 0 1px 0 rgba(255,255,255,.1);
	font-weight: bold;
	background-image:linear-gradient(#111,#000);
	border-radius:3px;
	box-shadow:
		//-----Button Beveling-----
		//top dark bevel
		0 -1px 0 rgba(0,0,0,.2),
		//full bevel
		0 0 0 1px rgba(0,0,0,.3),
		//bottom highlight bevel
		0 1px 0 rgba(255,255,255,.05),
		//slight outer glow
        0 0 3px rgba(255,255,255,.2);
        z-index:2;
}

//This is the style for the actual Button
.button:after, label:after{
	z-index: -1;
	content: '';
	cursor: pointer;
	// center content
	top:$btn_height * .06;
	margin-left: 50%;
	left: -$btn_width /2;
	width: $btn_width;
	height: $btn_height;
	display: block;
	position: absolute;
	background-image: linear-gradient(#444,#373738);
	box-shadow:
		inset 0 2px 1px -1px rgba(255,255,255,.2),
		inset 0 -2px 1px -1px rgba(0,0,0,.2),
		//-----Drop Shadow-----
		0 12px 12px rgba(0,0,0,.5),
		0 4px 6px rgba(0,0,0,.3);
	border-radius: 2px;
}
/* -------------------
	Hover States
-------------------- */
.button:hover, label:hover{
	color: #AEAEAE;
	text-shadow:0 -1px 0 rgba(0,0,0,.4);
}
.button:hover:after, label:hover:after{
	background-image: linear-gradient(#545454,#373738);
}
/* -------------------
	Active States
-------------------- */
.button:active, input[type='radio']:checked + label{
	color: #00ccff;
	text-shadow:0 -1px 0 rgba(0,0,0,.3),0 0px 30px rgba(0,255,255,.7);
	 box-shadow:
		//-----Button Beveling-----
		//top dark bevel
		0 -1px 0 rgba(0,193,255,.2),
		//full bevel
		0 0 0 1px rgba(0,0,0,.4),
		//bottom highlight bevel
		0 1px 0 rgba(255,255,255,.05),
		//slight outer glow
		0 0 20px rgba(0,193,255,.1),
		0 0 30px rgba(0,193,255,.1);
}
.button:active {
	text-shadow: 0 -1px 0 rgba(0,0,0,1),0 0px 30px rgba(0,255,255,1),0 0px 50px rgba(0,255,255,1);
	}
.button:active:after, input[type='radio']:checked + label:after{
	 background-image: linear-gradient(#262627, #2d2d2e);
	 box-shadow: (
		inset 0 5px 6px rgba(0,0,0,.3),
		inset 0 0 4px rgba(0,0,0,.9), 0 0 0 black);
}


.superBtn{
	color: #0e0e0e;
	text-shadow: 0 1px 0 rgba(255,255,255,.1);
	font-weight: bold;
	letter-spacing: .08em;
	width:$btn_width*2.2;
	height:$btn_height*1.2;
	line-height: $btn_height*1.2;
	position: relative;
	border-radius: 30px;
	background-image: linear-gradient(#2e3537,#424748);
	box-shadow:
			inset 0 1px 0 rgba(255,255,255,.6),
			inset 0 -1px 0 rgba(0,0,0,.3),
			inset 0 0 0px 1px rgba(0,0,0,.1),
			0 0 1px  rgba(0,0,0,.5),
            0 2px 2px rgba(0,0,0,.4);
    z-index:2;

}
.superBtn:after{
	width:$btn_width*2.3;
	height:$btn_height*1.5;
	top:$btn_height*-.15;
	margin-left: 50%;
	left: -$btn_width*2.3 /2;
	content: '';
	display: block;
	border-radius: 30px;
    background-image: linear-gradient(#2af1fc,#17b2e6);



	box-shadow:
			0 -1px 1px rgba(0,0,0,.7),
			0 1px 1px rgba(255,255,255,.4),
			0 0 1px 1px rgba(0,0,0,.3),
			inset 0 0px 3px rgba(0,0,0,.4),
			inset 0 1px 2px rgba(0,0,0,.6);
	//position: absolute;
	//z-index: 1;
}
/* -------------------
	SuperBtn Hover
-------------------- */
.superBtn:hover{
	color: #AEAEAE;
	text-shadow:0 -1px 0 rgba(0,0,0,.8);
	background-image: linear-gradient(#545454,#373738);
}
.superBtn:hover:after{
	box-shadow:
			0 -1px 1px rgba(0,0,0,.7),
			0 1px 1px rgba(255,255,255,.4),
			0 0 1px 1px rgba(0,0,0,.3),
			inset 0 0px 3px rgba(0,0,0,.4),
			inset 0 1px 2px rgba(0,0,0,.6),
			0 0 15px 5px rgba(0, 255, 255,.2);
}
.superBtn:active{
	color: #00ccff;
	text-shadow:0 -1px 0 rgba(0,0,0,.3),0 0px 30px rgba(0,255,255,.7);
	background:#333;
	box-shadow:
		//0 -1px 1px rgba(0,0,0,.7),
		0 1px 0px rgba(255,255,255,.4),
		inset 0 3px 3px rgba(0,0,0,.7),
		inset 0 0 4px rgba(0,0,0,.9), 0 0 0 black;
}
