.photo-collection
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.photo-collection img
{
    overflow-x: scroll;

    width: 100px;
    padding: .5rem .5rem .5rem .5rem;

    background: #01181f;
    box-shadow: 0 0 3px rgba(0,0,0,.2);
}
