.pulse
{
    width: 70px;
    height: 70px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 20px;

    border: 1px solid $blue;
    border-radius: 8px;
}

path
{
    stroke: #28d1fa;
    fill: none;
    stroke-width: 1;
}

.path1
{
    animation: pulse 2s infinite linear;

    stroke-dasharray: 170, 180;
}

.path2
{
    animation: pulse2 2s infinite linear;

    stroke-dasharray: 170, 180;
}

@keyframes pulse
{
    0%
    {
        stroke-dashoffset: 350;
    }
    100%
    {
        stroke-dashoffset: 0;
    }
}

@keyframes pulse2
{
    0%
    {
        stroke-dashoffset: 525;
    }
    100%
    {
        stroke-dashoffset: 175;
    }
}
